body {
  background-image: url(../images/bg.png);
  margin: 0; }

nav {
  overflow: hidden;
  background: white;
  padding-bottom: 1em;
  font-family: sans-serif;
  font-size: 1em;
  box-sizing: border-box; }
  nav .navHr {
    background: RGBA(82, 82, 82, 1);
    height: 1em;
    margin-top: 0; }
  nav .fresh {
    font-size: 1em;
    margin-left: 0;
    padding-left: 0;
    font-weight: bolder; }
  nav a {
    text-decoration: none;
    color: black;
    margin: 0 1%;
    float: left;
    padding: 1em;
    font-size: .8em;
    font-weight: bolder; }
  nav .logo {
    background-size: contain;
    background: url("../images/logo.png") no-repeat;
    height: 2.5em;
    background-size: 3em;
    width: 4em;
    float: left;
    margin-left: 15%; }

.damWrapper {
  display: inline; }

h3 {
  font-size: 2em;
  color: #3A4234; }

h1 {
  font-size: 1.5em;
  color: #525252;
  font-family: sans-serif;
  margin-bottom: 0; }

input {
  height: 2em;
  width: 100%; }

textarea {
  height: 6em;
  width: 100%; }

.formWrapper {
  visibility: hidden;
  box-sizing: border-box;
  float: left;
  width: 96%;
  background-color: white;
  margin: 1em 2% 0 2%;
  padding: 1em;
  box-shadow: 5px 5px 5px #ccc; }

button {
  align: right;
  border: none;
  background-color: green;
  color: white;
  float: right;
  margin-top: .5em;
  font-size: 2em;
  border-radius: .2em; }

.tips {
  visibility: hidden;
  box-sizing: border-box;
  font-size: 2em;
  box-shadow: 5px 5px 5px #ccc;
  margin: 1em 2% 0 2%;
  float: right;
  background-color: white;
  width: 96%;
  padding: 1em;
  margin-bottom: 1em; }
  .tips h3 {
    font-size: .5em; }

.underline {
  border-bottom: 1px solid #525252;
  font-size: .75em;
  font-weight: bold; }

.jobRow {
  width: 96%;
  margin: 1em 2% 0 2%;
  float: left;
  background-color: white;
  padding: 1.5em 1.5em 0 1.5em;
  box-sizing: border-box; }
  .jobRow .title {
    font-size: 1.5em;
    color: #496752;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: .5em;
    margin-top: 0em; }
  .jobRow div {
    margin-bottom: .3em; }
  .jobRow span {
    margin-right: .2em; }
  .jobRow .date {
    font-size: .5em;
    color: gray;
    float: right;
    margin-top: 0em; }
  .jobRow .companyName {
    color: #262A1C;
    font-weight: bold;
    margin-right: .2em; }
  .jobRow .location {
    color: #666A62; }
  .jobRow .jobDesc {
    color: #BDBDBD;
    margin-top: .3em; }
  .jobRow .tags {
    border: 1px solid #E5E895;
    background-color: #F9FAE9; }

.companyBox {
  width: 96%;
  margin: 1em 2% 0 2%;
  float: right;
  background-color: white;
  padding: 1.5em;
  box-sizing: border-box;
  text-align: center; }
  .companyBox .companyInfo {
    font-size: 2em;
    font-weight: lighter;
    border-bottom: 2px solid gray; }
  .companyBox .bgImage {
    width: 100%; }
  .companyBox .logo {
    display: block;
    margin: -5em auto 0; }
  .companyBox .compName {
    color: #359247;
    font-family: none;
    font-size: 3.5em;
    font-weight: lighter;
    margin-bottom: 0; }
  .companyBox .compLocation {
    color: #666666;
    font-weight: lighter;
    margin-top: 0; }

@media screen and (min-width: 50em) {
  body .formWrapper {
    margin: 1em 1% 0 2%;
    width: 64%; }
  body .tips {
    margin: .6em 2% 0 1%;
    width: 30%; }
  body .jobRow {
    margin: 1em 1% 0 2%;
    width: 64%; }
  body .companyBox {
    margin: .6em 2% 0 1%;
    width: 30%; } }
